body {
  font: 16px/1.5 sans-serif;
}

/* Do not touch the div CSS block! */
div {
  width: 100px;
  height: 100px;
  display: inline-block;
}


/* Add your styles for each box below this line */

#box01 {
  background-color: rgba(28,104,167,1);
}

#box02 {
  background-color: rgba(28,104,167,0.8);
  border-top: 0px;
  border-right: 2px rgba(28,104,167,1);
  border-left: 2px rgba(28,104,167,1);
  border-bottom: 0px;
  padding: 0px, 0px, 20px, 0px;
  margin: 20px;
}

#box03 {
  background-color: rgba(28,104,167,0.6);
  border: 2px, 0px, 0px, 2px;
  border-color: rgba(28,104,167,1);
  padding: 20px, 0px, 20px, 0px;
  margin: 20px;
}

#box04 {
  background-color: rgba(28,104,167,0.4);
  border-color: rgba(28,104,167,1);
  border: 0px, 0px,2px, 2px;
  padding: 0px, 20px, 0px, 20px;
  margin: 20px
}
  
